<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="12">
        <ion-searchbar
          placeholder="Search"
          [value]="searchTerm"
          (ionChange)="onSimpleSearch($event)"
        >
        </ion-searchbar>
      </ion-col>
    </ion-row>

    <ng-template [ngIf]="loading" [ngIfElse]="list">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ng-template>

    <ng-template #list>
      <ion-grid>
        <ion-row>
          <ion-col
            *ngFor="let book of allBooks"
            size-lg="6"
            size-md="6"
            size-sm="6"
            size="12"
          >
            <ion-item>
              <ion-avatar slot="start" (click)="viewBook(book)">
                <img src="{{book.url}}" />
              </ion-avatar>
              <ion-label>
                <h2>Title : {{book.title}}</h2>
                <h3>ISBN: {{book.isbn}}</h3>
                <p>Author: {{book.author.name}}</p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </ion-grid>
</ion-content>
